<ion-header>
  <ion-navbar>
    <ion-title>
      About
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <h2> Quase lá!</h2>

  <p>
    A foto está sendo enviada para análise, aguarde alguns instantes.
  </p>


  <div *ngIf=[retorno]>
    <img width="400px" src="{{retorno}}">
    <ion-item>
      <ion-textarea position="floating" disabled
      rows="10" cols="20"
      value= {{resposta?.histo_cort}}></ion-textarea>
    </ion-item>
    

  </div>


<div padding>
    <p *ngIf=[ERROR]>
        {{ERROR | json}}
    </p>
  </div>

</ion-content>
