<ion-header>
  <ion-navbar>
    <ion-title>
      Começar
    </ion-title>
  </ion-navbar>
</ion-header>

<!-- <img width="400px" *ngIf="img" [src]="img" alt="Foto que foi tirada"> -->

<ion-content>

  
    <div class="" *ngIf="img">
      <h2>Sua foto:</h2>
      <img class="confirm-image" src="{{img}}">
      <h4> Deseja continuar ou tirar outra foto?</h4>
    </div >
  

  <div>
    <button ion-button block (click)="tirarfoto()">Tirar foto</button>
    <button ion-button block (click)="avancar()" *ngIf="img">Avançar</button>
  </div>
</ion-content>